#!/usr/bin/env bash
set -o errexit
set -o nounset
set -o pipefail

WATCHER_HOME="${WATCHER_HOME:-{{ watcher_repo_home }}}"
WATOPNET_BIN="${WATOPNET_BIN:-{{ watcher_cli_bin }}}"
WATOPNET_CONFIG_DIR="${WATOPNET_CONFIG_DIR:-{{ watcher_config_root }}}"
WATOPNET_BASE="${WATOPNET_BASE:-{{ watcher_base }}}"
WATOPNET_HOST="${WATOPNET_HOST:-{{ watcher_host }}}"
WATOPNET_HTTP_PORT="${WATOPNET_HTTP_PORT:-{{ watcher_http_port }}}"
WATOPNET_BOOT_HOST="${WATOPNET_BOOT_HOST:-{{ watcher_boot_host }}}"
WATOPNET_BOOT_PORT="${WATOPNET_BOOT_PORT:-{{ watcher_boot_port }}}"

if [[ "${WATOPNET_BASE}" = /* ]]; then
    echo "WATOPNET_BASE must remain a relative path: ${WATOPNET_BASE}" >&2
    exit 1
fi

export KERI_BASER_MAP_SIZE=1099511627776
export DEBUG_WATCHER=1
ulimit -S -n 65536

cd "${WATCHER_HOME}"

exec "${WATOPNET_BIN}" start \
    --config-dir "${WATOPNET_CONFIG_DIR}" \
    --base "${WATOPNET_BASE}" \
    --host "${WATOPNET_HOST}" \
    --http "${WATOPNET_HTTP_PORT}" \
    --boothost "${WATOPNET_BOOT_HOST}" \
    --bootport "${WATOPNET_BOOT_PORT}"
